USE [master]
GO
/****** Object:  Database [Proximaenergia]    Script Date: 2/26/2025 3:08:21 AM ******/
CREATE DATABASE [Proximaenergia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proximaenergia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Proximaenergia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proximaenergia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Proximaenergia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proximaenergia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proximaenergia]
GO
USE [Proximaenergia]
GO
/****** Object:  User [UsuarioProxima]    Script Date: 2/26/2025 3:08:21 AM ******/
CREATE USER [UsuarioProxima] FOR LOGIN [UsuarioProxima] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UsuarioProxima]
GO
/****** Object:  Table [dbo].[AcuerdosComerciales]    Script Date: 2/26/2025 3:08:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcuerdosComerciales](
	[IdAcuerdo] [int] IDENTITY(1,1) NOT NULL,
	[IdAgente] [int] NULL,
	[IdTrabajador] [int] NULL,
	[FechaAlta] [date] NULL,
	[FechaBaja] [date] NULL,
	[Ambito] [nchar](100) NULL,
	[DuracionMeses] [tinyint] NULL,
	[ProrrogaAutomatica] [bit] NULL,
	[DuracionProrrogaMeses] [tinyint] NULL,
	[Exclusividad] [tinyint] NULL,
	[CodFormaPago] [nchar](10) NULL,
 CONSTRAINT [PK_AcuerdosComerciales] PRIMARY KEY CLUSTERED 
(
	[IdAcuerdo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentesComerciales]    Script Date: 2/26/2025 3:08:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentesComerciales](
	[IdAgente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NULL,
	[Estado] [nchar](10) NULL,
	[NIF] [nchar](10) NULL,
 CONSTRAINT [PK_AgentesComerciales] PRIMARY KEY CLUSTERED 
(
	[IdAgente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarifasAcuerdos]    Script Date: 2/26/2025 3:08:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarifasAcuerdos](
	[IdTarifaAcuerdo] [int] IDENTITY(1,1) NOT NULL,
	[IdAcuerdo] [int] NOT NULL,
	[IdTarifa] [int] NULL,
	[PorcRenovacion] [int] NOT NULL,
	[FechaVigor] [date] NOT NULL,
 CONSTRAINT [PK_ComisionesComerciales_1] PRIMARY KEY CLUSTERED 
(
	[IdTarifaAcuerdo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarifasConsumo]    Script Date: 2/26/2025 3:08:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarifasConsumo](
	[IdTarifa] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[InicioVigencia] [datetime] NOT NULL,
	[FinVigencia] [datetime] NULL,
	[CodTarifaAcceso] [varchar](3) NOT NULL,
	[IdProductoComercial] [int] NULL,
	[AñadirComisionAPrecios] [bit] NOT NULL,
	[IdComisionComercialTipo] [int] NULL,
	[IdComisionComercialAjustada] [int] NULL,
	[CodCanal] [char](3) NULL,
	[IdModeloFactura] [int] NULL,
 CONSTRAINT [TarifasConsumo_PK] PRIMARY KEY CLUSTERED 
(
	[IdTarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcuerdosComerciales] ON 

INSERT [dbo].[AcuerdosComerciales] ([IdAcuerdo], [IdAgente], [IdTrabajador], [FechaAlta], [FechaBaja], [Ambito], [DuracionMeses], [ProrrogaAutomatica], [DuracionProrrogaMeses], [Exclusividad], [CodFormaPago]) VALUES (1, 1, NULL, CAST(N'2025-01-14' AS Date), NULL, N'Peninsular	                                                                                         ', 12, 1, 12, 0, N'TOTALM+1  ')
INSERT [dbo].[AcuerdosComerciales] ([IdAcuerdo], [IdAgente], [IdTrabajador], [FechaAlta], [FechaBaja], [Ambito], [DuracionMeses], [ProrrogaAutomatica], [DuracionProrrogaMeses], [Exclusividad], [CodFormaPago]) VALUES (2, 2, NULL, CAST(N'2025-01-14' AS Date), NULL, N'Peninsular	                                                                                         ', 12, 1, 12, 0, N'TOTALM+1  ')
INSERT [dbo].[AcuerdosComerciales] ([IdAcuerdo], [IdAgente], [IdTrabajador], [FechaAlta], [FechaBaja], [Ambito], [DuracionMeses], [ProrrogaAutomatica], [DuracionProrrogaMeses], [Exclusividad], [CodFormaPago]) VALUES (4, 3, NULL, CAST(N'2025-02-20' AS Date), NULL, N'Peninsular	                                                                                         ', 12, 1, 12, 0, N'TOTALM+1  ')
SET IDENTITY_INSERT [dbo].[AcuerdosComerciales] OFF
GO
SET IDENTITY_INSERT [dbo].[AgentesComerciales] ON 

INSERT [dbo].[AgentesComerciales] ([IdAgente], [Nombre], [Estado], [NIF]) VALUES (1, N'Ag. Prueba Nvl1', N'Activo    ', N'B85292498 ')
INSERT [dbo].[AgentesComerciales] ([IdAgente], [Nombre], [Estado], [NIF]) VALUES (2, N'Ag. Prueba Nvl2', N'Activo    ', N'B85021426 ')
INSERT [dbo].[AgentesComerciales] ([IdAgente], [Nombre], [Estado], [NIF]) VALUES (3, N'GeoAtlanter, SL', N'Activo    ', N'B85021426 ')
SET IDENTITY_INSERT [dbo].[AgentesComerciales] OFF
GO
SET IDENTITY_INSERT [dbo].[TarifasAcuerdos] ON 

INSERT [dbo].[TarifasAcuerdos] ([IdTarifaAcuerdo], [IdAcuerdo], [IdTarifa], [PorcRenovacion], [FechaVigor]) VALUES (22, 2, 22, 100, CAST(N'2025-01-14' AS Date))
INSERT [dbo].[TarifasAcuerdos] ([IdTarifaAcuerdo], [IdAcuerdo], [IdTarifa], [PorcRenovacion], [FechaVigor]) VALUES (23, 2, 23, 100, CAST(N'2025-01-14' AS Date))
INSERT [dbo].[TarifasAcuerdos] ([IdTarifaAcuerdo], [IdAcuerdo], [IdTarifa], [PorcRenovacion], [FechaVigor]) VALUES (24, 2, 24, 100, CAST(N'2025-01-14' AS Date))
SET IDENTITY_INSERT [dbo].[TarifasAcuerdos] OFF
GO
INSERT [dbo].[TarifasConsumo] ([IdTarifa], [Nombre], [InicioVigencia], [FinVigencia], [CodTarifaAcceso], [IdProductoComercial], [AñadirComisionAPrecios], [IdComisionComercialTipo], [IdComisionComercialAjustada], [CodCanal], [IdModeloFactura]) VALUES (2, N'Cristalina online
', CAST(N'2022-01-01T00:00:00.000' AS DateTime), NULL, N'018', 1, 0, NULL, NULL, N'WEB', NULL)
INSERT [dbo].[TarifasConsumo] ([IdTarifa], [Nombre], [InicioVigencia], [FinVigencia], [CodTarifaAcceso], [IdProductoComercial], [AñadirComisionAPrecios], [IdComisionComercialTipo], [IdComisionComercialAjustada], [CodCanal], [IdModeloFactura]) VALUES (3, N'Cristalina online
', CAST(N'2022-01-01T00:00:00.000' AS DateTime), NULL, N'018', 6, 0, NULL, NULL, N'WEB', NULL)
INSERT [dbo].[TarifasConsumo] ([IdTarifa], [Nombre], [InicioVigencia], [FinVigencia], [CodTarifaAcceso], [IdProductoComercial], [AñadirComisionAPrecios], [IdComisionComercialTipo], [IdComisionComercialAjustada], [CodCanal], [IdModeloFactura]) VALUES (4, N'Cristalina online
', CAST(N'2022-01-01T00:00:00.000' AS DateTime), NULL, N'020', 1, 0, NULL, NULL, N'WEB', NULL)
GO
USE [master]
GO
